@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.unica {
  font-family: 'Unica One', cursive;

}

.titilium {
  font-family: 'Titillium Web', sans-serif;
}

.fw200 {
  font-weight: 200;
}

.fw700 {
  font-weight: 700;
}

.bandideado {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  gap: 20px;
  justify-content: flex-start;
  background-color: burlywood;
}